<div class="flex flex-wrap">
    <div class="w-full md:w-1/2 pr-0 md:pr-[15px] relative">
        <div class="card mb-6 relative">
            <div class="card-header mb-0 bg-[#f0f3f5]">
                Edit Client - 
                <strong>shshds</strong>
            </div>
            <div class="card-body p-5">
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">ID</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <p class="mt-0 mb-4">4362803</p>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Username</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <p class="mt-0 mb-4">shshds</p>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Type</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <p class="mt-0 mb-4">SuperMaster</p>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Currency</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <p class="mt-0 mb-4">Rs.</p>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Password</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" name="password">
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">IsActive</span>
                    <div class="w-[66.666667%] md:!w-1/2 row relative">
                        <input checked type="checkbox" class="absolute mt-[.3rem]" name="checkbox">
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Betting Allowed</span>
                    <div class="w-[66.666667%] md:!w-1/2 row relative">
                        <input checked type="checkbox" class="absolute mt-[.3rem]" name="betting-allowed">
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Can Settle PL</span>
                    <div class="w-[66.666667%] md:!w-1/2 row relative">
                        <input checked type="checkbox" class="absolute mt-[.3rem]" name="can-settle-pl">
                        <label class="mt-0 mb-4 ml-5">Enable S button</label>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Phone</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="2121232332" name="phone-no">
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Reference</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="sss" name="references">
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Notes</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <textarea class="form-input min-h-[62px] h-auto overflow-auto resize-y">Test</textarea>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Commission</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input type="number" class="form-input" readonly="" value="2.00" name="commission">
                        <p class="mt-0 mb-4">Min commission is 2.00 %</p>
                    </div>
                </div> 
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">UserDomain</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input type="text" class="form-input" readonly="" value="1  ( betproexch.com )" name="user-domain">
                    </div>
                </div> 
            </div>
            <div class="card-footer bg-[#f0f3f5]">
                <button class="btn cursor-pointer text-center">
                    Submit
                </button>
            </div>
        </div>
    </div>

    <div class="w-full md:w-1/2 pl-0 md:pl-[15px] relative">
        <div class="card mb-6 relative">
            <div class="card-header mb-0 bg-[#f0f3f5]">
                <strong>Max Bet Sizes</strong>
            </div>
            
            <div class="card-body p-5">
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Soccer</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="1000000.00" name="soccer">
                        <span class="text-[1rem]">Max: 1,000,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Tennis</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="2500000.00" name="tennis">
                        <span class="text-[1rem]">Max: 250,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Cricket</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="5000000.00" name="cricket-input">
                        <span class="text-[1rem]">Max: 5,000,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Fancy</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="200000.00" name="fancy-input">
                        <span class="text-[1rem]">Max: 200,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Races</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="200000.00" name="races-input">
                        <span class="text-[1rem]">Max: 200,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Casino</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="50000.00" name="casino-input">
                        <span class="text-[1rem]">Max: 50,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">Greyhound</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="50000.00" name="greyhound-input">
                        <span class="text-[1rem]">Max: 50,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">BookMaker</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="text" value="2000000.00" name="bookmaker-inputs">
                        <span class="text-[1rem]">Max: 2,000,000</span>
                    </div>
                </div>  
                <div class="max-w-full flex mb-4">
                    <span class="label mb-0 row">T-PIN</span>
                    <div class="w-[66.666667%] md:!w-1/2 row">
                        <input class="form-input" type="number" value="" name="t-pin-input">
                    </div>
                </div>  
            </div>

            <div class="card-footer bg-[#f0f3f5]">
                <button class="btn cursor-pointer text-center">
                    Submit
                </button>
            </div>
        </div>
    </div>
</div>