<div class="main-parent mb-[34px]">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="main-heading radius">{{ isEditMode ? 'Edit User' : 'Create New User' }}</div>

    <div class="validations">
      <div class="main">
        <!-- Username -->
        <div class="main-username">
          <div class="heading-username">Username</div>
          <div class="main-input-child">
            <input class="inputs" type="text lowercase" formControlName="username">
            <div *ngIf="userForm.get('username')?.hasError('required') && userForm.get('username')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['username']" class="error">
              {{ errorMessages['username'] }}
            </div>
          </div>
        </div>

        <!-- Name -->
        <div class="main-username">
          <div class="heading-username">Name</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="name">
            <div *ngIf="userForm.get('name')?.hasError('required') && userForm.get('name')?.touched" class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['name']" class="error">
              {{ errorMessages['name'] }}
            </div>
          </div>
        </div>

        <!-- Password (Only in create mode) -->
        <div *ngIf="!isEditMode" class="password mb-[15px]">
          <div class="password-heading">Password</div>
          <div class="main-input-child relative">
            <input class="inputs" [type]="showPassword? 'text':'password'" formControlName="password">
            <div *ngIf="userForm.get('password')?.hasError('required') && userForm.get('password')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['password']" class="error">
              {{ errorMessages['password'] }}
            </div>

            <div class="eye-icons cursor-pointer h-[24px] w-[20px] !text-black" (click)="togglePassword()">
              @if (showPassword) {
              <div>
                <i class="fas fa-eye "></i>
              </div>
              }
              @if (!showPassword) {
              <div>
                <i class="fas fa-eye-slash"></i>
              </div>
              }
            </div>
          </div>
        </div>

        <!-- Balance (Only in create mode) -->
        <div *ngIf="!isEditMode" class="main-username">
          <div class="heading-username">Balance</div>
          <div class="main-input-child">
            <input class="inputs" type="number" formControlName="balance" (input)="preventNegative($event)">
            <div *ngIf="userForm.get('balance')?.hasError('required') && userForm.get('balance')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['balance']" class="error">
              {{ errorMessages['balance'] }}
            </div>
          </div>
        </div>

        <div class="main-username">
          <div class="heading-username">Phone No</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="mobileNo">
            <div *ngIf="userForm.get('mobileNo')?.hasError('required') && userForm.get('mobileNo')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['name']" class="error">
              {{ errorMessages['name'] }}
            </div>
          </div>
        </div>

        @if(userDetails?.role == 'SUPER'){
        <div class="main-username">
          <div class="heading-username">Domain</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="domain">
            <div *ngIf="userForm.get('domain')?.hasError('required') && userForm.get('domain')?.touched" class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['name']" class="error">
              {{ errorMessages['name'] }}
            </div>
          </div>
        </div>
        }


        <!-- Role -->
        <div class="main-type" *ngIf="!isEditMode">
          <div class="type-heading">Role</div>
          <div class="main-radio">
            <div class="super-master" *ngIf="isSuperUser()">
              <p class="txt">Admin</p>
              <input class="radio-input" type="radio" formControlName="role" value="ADMIN">
            </div>
            <div class="bettor">
              <p class="txt">User</p>
              <input class="radio-input" type="radio" formControlName="role" value="USER">
            </div>
            <div *ngIf="userForm.get('role')?.hasError('required') && userForm.get('role')?.touched" class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['role']" class="error">
              {{ errorMessages['role'] }}
            </div>
          </div>
        </div>

        <!-- Is Demo -->
        <div class="main-checkbox">
          <div class="checkbox-heading">Is Demo</div>
          <div class="flex">
            <div class="child-checkbox">
              <input type="checkbox" class="checkbox" formControlName="isDemo">
            </div>
          </div>
        </div>

        <!-- Status -->
        <div class="main-username">
          <div class="heading-username">Status</div>
          <div class="main-input-child">
            <select class="inputs" formControlName="status">
              <option value="" disabled>Select Status</option>
              <option value="active">Active</option>
              <option value="suspended">Suspended</option>
              <option value="locked">Locked</option>
            </select>
            <div *ngIf="userForm.get('status')?.hasError('required') && userForm.get('status')?.touched" class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['status']" class="error">
              {{ errorMessages['status'] }}
            </div>
          </div>
        </div>

        <!-- Currency -->
        <div class="main-username" *ngIf="isSuperUser()">
          <div class="heading-username">Currency</div>
          <div class="main-input-child">
            <select class="inputs" formControlName="currency">
              <option value="" disabled>Select Currency</option>
              <option value="USD">USD</option>
              <option value="INR">INR</option>
              <option value="PKR">PKR</option>
            </select>
            <div *ngIf="userForm.get('currency')?.hasError('required') && userForm.get('currency')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['currency']" class="error">
              {{ errorMessages['currency'] }}
            </div>
          </div>
        </div>

        <!-- min max  -->
        <div class="main-username" *ngIf="isSuperUser()">
          <div class="heading-username">Min Bet Limit</div>
          <div class="main-input-child">
            <input class="inputs" type="number" formControlName="minimumBets">
          </div>
        </div>

        <div class="main-username" *ngIf="isSuperUser()">
          <div class="heading-username">Max Bet Limit</div>
          <div class="main-input-child">
            <input class="inputs" type="number" formControlName="maximumBets">
          </div>
        </div>



      </div>
    </div>

    <!-- Submit Button -->
    <div class="main-btn scnd-radius">
      <button type="submit" [disabled]="userForm.invalid" class="submit-btn">Submit</button>
    </div>
  </form>
</div>