<div class="main-parent mb-[34px]">
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="main-heading radius">{{ isEditMode ? 'Edit operator' : 'Create New operator' }}</div>

    <div class="validations">
      <div class="main">
        <!-- operatorName -->
        <div class="main-username">
          <div class="heading-username">Operator Name</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="operatorName">
            <div *ngIf="userForm.get('operatorName')?.hasError('required') && userForm.get('operatorName')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['operatorName']" class="error">
              {{ errorMessages['operatorName'] }}
            </div>
          </div>
        </div>

        <!-- operatorCode -->
        <div class="main-username">
          <div class="heading-username">Operator Code</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="operatorCode">
            <div *ngIf="userForm.get('operatorCode')?.hasError('required') && userForm.get('operatorCode')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['operatorCode']" class="error">
              {{ errorMessages['operatorCode'] }}
            </div>
          </div>
        </div>

        <!-- domain -->
        <div class="main-username">
          <div class="heading-username">Domain</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="domain">
            <div *ngIf="userForm.get('domain')?.hasError('required') && userForm.get('domain')?.touched" class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['domain']" class="error">
              {{ errorMessages['domain'] }}
            </div>
          </div>
        </div>

        <!-- walletBaseUrl -->
        <div class="main-username">
          <div class="heading-username">Wallet Base URL</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="walletBaseUrl">
            <div *ngIf="userForm.get('walletBaseUrl')?.hasError('required') && userForm.get('walletBaseUrl')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['walletBaseUrl']" class="error">
              {{ errorMessages['walletBaseUrl'] }}
            </div>
          </div>
        </div>

        <!-- walletApiKey -->
        <div class="main-username">
          <div class="heading-username">Wallet API Key</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="walletApiKey">
            <div *ngIf="userForm.get('walletApiKey')?.hasError('required') && userForm.get('walletApiKey')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['walletApiKey']" class="error">
              {{ errorMessages['walletApiKey'] }}
            </div>
          </div>
        </div>

        <!-- walletSecret -->
        <div class="main-username">
          <div class="heading-username">Wallet Secret</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="walletSecret">
            <div *ngIf="userForm.get('walletSecret')?.hasError('required') && userForm.get('walletSecret')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['walletSecret']" class="error">
              {{ errorMessages['walletSecret'] }}
            </div>
          </div>
        </div>

        <!-- adminUsername -->
        <div class="main-username">
          <div class="heading-username">Admin Username</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="adminUsername">
            <div *ngIf="userForm.get('adminUsername')?.hasError('required') && userForm.get('adminUsername')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['adminUsername']" class="error">
              {{ errorMessages['adminUsername'] }}
            </div>
          </div>
        </div>

        <!-- adminPassword -->
        <div class="password mb-[15px]">
          <div class="password-heading">Admin Password</div>
          <div class="main-input-child relative">
            <input class="inputs" [type]="showPassword? 'text':'password'" formControlName="adminPassword">
            <div *ngIf="userForm.get('adminPassword')?.hasError('required') && userForm.get('adminPassword')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['adminPassword']" class="error">
              {{ errorMessages['adminPassword'] }}
            </div>

            <div class="eye-icons cursor-pointer h-[24px] w-[20px] !text-black" (click)="togglePassword()">
              @if (showPassword) {
              <div>
                <i class="fas fa-eye "></i>
              </div>
              }
              @if (!showPassword) {
              <div>
                <i class="fas fa-eye-slash"></i>
              </div>
              }
            </div>
          </div>
        </div>

        <!-- adminName -->
        <div class="main-username">
          <div class="heading-username">Admin Name</div>
          <div class="main-input-child">
            <input class="inputs" type="text" formControlName="adminName">
            <div *ngIf="userForm.get('adminName')?.hasError('required') && userForm.get('adminName')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['adminName']" class="error">
              {{ errorMessages['adminName'] }}
            </div>
          </div>
        </div>

        <!-- adminEmail -->
        <div class="main-username">
          <div class="heading-username">Admin Email</div>
          <div class="main-input-child">
            <input class="inputs" type="email" formControlName="adminEmail">
            <div *ngIf="userForm.get('adminEmail')?.hasError('required') && userForm.get('adminEmail')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="userForm.get('adminEmail')?.hasError('email') && userForm.get('adminEmail')?.touched"
              class="error">
              Please enter a valid email address.
            </div>
            <div *ngIf="errorMessages['adminEmail']" class="error">
              {{ errorMessages['adminEmail'] }}
            </div>
          </div>
        </div>

        <!-- adminCurrency -->
        <div class="main-username">
          <div class="heading-username">Admin Currency</div>
          <div class="main-input-child">
            <select class="inputs" formControlName="adminCurrency">
              <option value="" disabled>Select Currency</option>
              <option value="USD">USD</option>
              <option value="INR">INR</option>
              <option value="PKR">PKR</option>
            </select>
            <div *ngIf="userForm.get('adminCurrency')?.hasError('required') && userForm.get('adminCurrency')?.touched"
              class="error">
              This field is required.
            </div>
            <div *ngIf="errorMessages['adminCurrency']" class="error">
              {{ errorMessages['adminCurrency'] }}
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- Submit Button -->
    <div class="main-btn scnd-radius">
      <button type="submit" [disabled]="userForm.invalid" class="submit-btn">Submit</button>
    </div>
  </form>
</div>