/* Profile styling */
.profile-container{
  @apply mb-[5px]  rounded bg-white border border-solid border-[#c8ced3] 
}

.profile-header{
  @apply flex h-[35.59px] items-center gap-[3px] rounded-t border-b border-b-[#c8ced3] bg-[#f0f3f5] px-[20px] py-[4.8px] font-normal text-[#212529]
}

.profile-form{
  @apply w-full px-[20px] py-[20px] sm:px-[20.4px] sm:py-[20px] lg:px-[20px] lg:pb-[20.5] lg:pt-[20px]
}

.field-label{
  @apply py-[7px] pr-[15px] sm:w-[31.1%] lg:w-[32%] 
}

.field-input{
  @apply h-[38px] w-full rounded border border-[#e4e7ea] px-[12px] py-[6px] text-[#495057] sm:w-[66.7%] outline-none focus:outline-none focus:border focus:shadow-[0_0_8px_3px_rgba(135,206,235,0.5)] focus:border-blue-200;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}
/* Save changes and cancel button */
.save-changes{
  @apply rounded  text-sm  py-[7px] px-[13px] text-white cursor-pointer focus:shadow-[0_0_8px_3px_rgba(135,206,235,0.5)] active:bg-black
}

/* Change Password */
.password-header{
  @apply  max-w-full md:max-w-[50%] pr-0 md:pr-[15px]
}

.change-pw{
  @apply flex h-[34.59px] items-center gap-[3px] rounded-t  border-b border-b-black/10 bg-[#f0f3f5] px-[20px] py-[4.8px] font-normal text-[#212529]
}

.pw-form{
  @apply w-full rounded-b bg-white px-[20.4px] pb-[20px] pt-[21px] text-[#495057] border-r border-r-[#c8ced3] sm:px-[20.4px] sm:pb-5 sm:pt-[20.5px] lg:px-5 lg:pb-5 lg:pt-5
}

.pw-text{
  @apply py-[7px] pr-[15px] sm:w-[31.1%] lg:w-[32%]
}

.new-password{
  @apply h-[38px] w-full rounded border border-[#ced4da] px-[12px] py-[6px] text-[#495057] sm:w-[66.7%] focus:shadow-[0_0_8px_3px_rgba(135,206,235,0.5)] focus:border-blue-200 outline-none focus:outline-none
}

/* Update button */
.update{
  @apply rounded text-sm border border-transparent bg-[#00b181] cursor-pointer hover:bg-[#4dbd74] py-[6.5px] active:bg-black px-3 text-white focus:shadow-[0_0_8px_3px_rgba(135,206,235,0.5)] 
}

/* Two Factor Authentication */
.tf-authentication{
  @apply flex h-[34.59px] items-center gap-[3px] rounded-t border-b border-b-[#d8d8d8] bg-[#f7f7f7] px-[20px] pb-[4.8px] pt-[6px] font-normal text-[#212529]
}

.two-factor{
  @apply w-full rounded-b bg-white px-5 md:pb-5 pb-[16px] pt-5
}

/* Switch */
.switch{
  @apply relative flex w-max cursor-pointer select-none items-center pl-[9.8px] pt-[4px] sm:pt-[6.7px]
}

.switch-box{
  @apply h-[25px] w-[55px] cursor-pointer appearance-none rounded-full bg-[#ff0000] transition-colors
}
.switch-box:checked {
  @apply bg-[#00ff00c0]
}
.switch-span{
  @apply absolute  text-xs font-medium uppercase text-white
}

.switch-snap{
  @apply absolute right-[31px] h-[18px] w-5 transform rounded-full bg-white transition-transform
}

.switch-snap-on {
  @apply translate-x-[24px];
}

input::-ms-value {
    color: #f00;
  }
  
  .ff-none {
    font-family: none;
  }