<div id="Pnl-Orders" class="col-md-4 w-full">
                    <div class="card card-accent-primary w-full">
                          <!-- Header of the card -->
                        <div class="card-header w-full"><strong>Open Bets (0)</strong></div>
                        <!-- Body of the card for Open Bets -->
                        <div class="card-body w-full Orders-Widget">
                            <!-- Row containing column headers for the bets table -->
                            <div class="row">
                                <div class="col-4 no-pad"><strong>Runner</strong></div>
                                <div class="col-2 no-pad"><strong>Price</strong></div>
                                <div class="col-2 no-pad"><strong>Size</strong></div>
                                <div class="col-2 no-pad"><strong>Better</strong></div>
                                <div class="col-2 no-pad"><strong>Master</strong></div>
                            </div>
                        </div>
                    </div>
                    <div class="card card-accent-primary">
                         <!-- Header of the card with a button -->
                        <div class="card-header"><strong>Matched Bets (0)</strong>
                             <button
                                class="btn btn-sm btn-primary" ><a routerLink="/bet-list" target="_blank">Full Bet List</a></button></div>
                                <!-- Body of the card for Matched Bets -->
                        <div class="card-body Orders-Widget">
                            <!-- Row containing column headers for the bets table -->
                            <div class="row">
                                <div class="col-4 no-pad"><strong>Runner</strong></div>
                                <div class="col-2 no-pad"><strong>Price</strong></div>
                                <div class="col-2 no-pad"><strong>Size</strong></div>
                                <div class="col-2 no-pad"><strong>Better</strong></div>
                                <div class="col-2 no-pad"><strong>Master</strong></div>
                            </div>
                        </div>
                    </div>
                </div>