<!--&lt;!&ndash; layout.component.html &ndash;&gt;-->
<!--<div class="layout-main-container">-->
<!--    <app-header></app-header>-->
<!--    <div class="scroll-layout">-->
<!--        <div class="z-10">-->
<!--            <app-sidebar></app-sidebar>-->
<!--        </div>-->

<!--        <main class="py-2.5 px-[5px] w-full h-full overflow-x-hidden" [ngClass]="{-->

<!--            'md:ml-[200px] lg:duration-200 lg:transition-all' : isOpen,-->
<!--            'md:!ml-[0px] lg:duration-200 lg:transition-all' : !isOpen,-->
<!--            'md:ml-[50px] lg:duration-200 lg:transition-all' : slimSidebar-->
<!--        }">-->
<!--            <div>-->
<!--                <router-outlet></router-outlet>-->
<!--            </div>-->
<!--        </main>-->
<!--        <div class="marquee-container">-->
<!--            <marquee direction="left"><b>Welcome to Exchange.-Welcome to Exchange.-Welcome to-->
<!--                    Exchange.-Welcome to Exchange.</b></marquee>-->

<!--        </div>-->
<!--    </div>-->
<!--</div>-->
