<section class="overflow-y-auto pb-[50px]">
    <div class="main-container  pb-5">
        <div class="header-container-client !bg-[#F1F3F5]">
            <h5 class="text-[1.09375rem]  font-medium pt-0"> <strong>{{userName}}</strong>
                - Clients List | Default
            </h5>
        </div>

        <div class="flex justify-end mr-4 mb-3">
            <button class="cradit-table-btn mt-3" routerLink="/new-user">
                Create operator
            </button>
        </div>
        <app-all-user-detail></app-all-user-detail>
    </div>
</section>