@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'ngx-toastr/toastr';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
body{
    font-family: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif !important ;
    touch-action: auto !important;
    -ms-touch-action: auto !important; /* For older IE */
}
table.dataTable thead th, table.dataTable thead td, table.dataTable tfoot th, table.dataTable tfoot td {
  @apply !text-center
}
td,th,tr{
  @apply !text-center
}


