<section class="overflow-y-auto pb-[50px]">
    <div class="main-container">
        <div class="header-container">
            <strong>Round Range</strong>
        </div>
        <div class="px-4 py-3">
            <div class="overflow-x-auto">
                <table datatable [dtOptions]="dtOptions"
                    class="table w-full whitespace-nowrap border-b border-[#dee2e6] text-[12px]">
                    <thead>
                        <tr>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Event Name</th>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Round No</th>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Stake</th>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Payouts</th>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Pl</th>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Total Bets</th>
                            <th class="border border-[#dee2e6] px-[4.8px] py-[5px]">Settled Time</th>
                        </tr>
                    </thead>
                    <tbody *ngIf="tableData.length > 0">
                        <tr *ngFor="let row of tableData; let i = index">
                            <td>{{ row.eventName}}</td>
                            <td class="text-blue-500" (click)="navigateToHistory(row.roundNumber, row.eventId)">{{row.roundNumber}}</td>
                            <td>{{ row.totalStake | number:'1.2-2' }}</td>
                            <td>{{ row.totalPayouts | number:'1.2-2' }}</td>
                            <td [ngClass]="row.totalPL < 0 ? '!text-red-500' : 'text-green-500'">
                                {{ math.abs(row.totalPL).toFixed(2) }}
                            </td>
                            <td>{{ row.totalBets }}</td>
                            <td>{{ row.updatedAt | date: 'M/d/yy, h:mm:ss a' }}</td>

                        </tr>
                    </tbody>
                    <tbody *ngIf="tableData.length === 0">
                        <tr>
                            <td colspan="12" class="text-center">No matching records found</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</section>